body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
  }
  
  h2 {
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
    color: #ffffff;
    background-color: #4a69bd;
    text-align: center;
  }
  
  #mario-chat {
    max-width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #e8ffff;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  #chat-window {
    height: 400px;
    overflow: auto;
    background-color: #e8ffff;
  }
  
  #output p {
    padding: 14px 20px;
    margin: 0;
    border-bottom: 1px solid #e6e6e6;
    color: #333333;
  }
  
  #feedback p {
    color: #d83c3c;
    padding: 14px 20px;
    margin: 0;
  }
  
  #output strong {
    color: #4a69bd;
  }
  
  label {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #4a4a4a;
  }
  
  input {
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    border: none;
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333333;
  }
  
  button {
    background-color: #4a69bd;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e5a9c;
  }
  